.header{
    //filter: blur(5px);
    position: relative;
    height: 30vh;
    @media (orientation: landscape) and (max-width: 900px)
    {
        height: 30vw;
    }
    &__gallery{
        position: relative;
        height: 100%;
        background-color: $bgc-color;
        overflow: hidden;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1);
            width: 100%;
        }
    }
    &__arrow{
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        padding: 5vh 10px;
        font-size: 30px;
        color: rgb(0, 0, 0);
        background-color: rgba(51, 51, 51, 0.123);
        cursor: pointer;
        &--left{
            left: 0;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
        &--right{
            right: 0;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
    }
}